#title{
    text-align: center;
    font-family: tahoma;
    font-size: 5vw;
    background-color: aquamarine;
    vertical-align: middle;
}

#container{
    display: inline;
    margin: 0 1em 0 1em;
    width: 30%; 
}

#childContainerLeft{
    float: left;
    width: 20%;
    background-color: tomato;
    height: 80%;
}

#childContainerCenter{
    display: inline;
    background-color: burlywood;
    width: 60%;
    height: 80%;
    float: left;
}

#childContainerRight{
    float: right;
    width: 20%;
    background-color: violet;
    height: 80%;
}

#LoginButton{
    margin:auto; 
    display:block;

}

#loginPopup{
width: 60%; 
height: 60%; 
position: inherit; 
margin-left: 20%;
margin-top: 20%;
margin-right: 20%;
background: aquamarine; 
font-family: arial; 
visibility: hidden;
}

#userLogin{
    width: 100%;
    background-color: #D75E62;
}
#passLogin{
    width: 100%;
    background-color: #D75E62;
}

#divLoginButton{
    display: inline-block;
    margin-top: 5%;
}